$header-background:url(../img/4.jpg);
$header-nav-link-color: #69395e;
$header-button-border-color: gray;
$img-boxes: ("1" : url(../img/5.jpeg), "2" : url(../img/6.jpg), "3" : url(../img/7.jpg));
$hot-tour-title-color:#dfc1d9;
$hot-tour-text-color:#69395e;
$reviews-bg-color: #8a6f8d;
$reviews-title-color: #caa2cb;
$reviews-box-color: #caa2cb;
$find-your-tour-title-color: #9f86a2;
$find-your-tour-bg-color: #69395e;
$footer-bg-color: #5d3d85;
$footer-folow-text-color: #4f0a5e;
$footer-follow-us-color: #8a46de;
$footer-link-text-color: #8a46de;